@font-face {
  font-family: 'Futura';
  src: url('../../public/assets/fonts/futura_light.woff');
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../public/assets/fonts/proximanova_light.woff');
}

@font-face {
  font-family: 'Vag';
  src: url('../../public/assets/fonts/vag_rounded_light.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Vag';
  src: url('../../public/assets/fonts/vag_rounded_bold.woff');
  font-weight: bold;
}