// Colours
$color-primary: #4875A9;
$color-secondary: #677AAA;
$color-background: #E9EDF2;
$color-white: #fff;

$color-text: #7B8591;
$blue: rgb(34,189,239);
$white: #eeeeee;

// Media Queries
$large: 1280px;
$mid: 1024px;
$tablet: 768px;
$mobile: 320px;

$base-font-size: 10px;
